
/* dark red : #981815 */

:root{
    --color-primary-red-dark: #981815;
    --color-primary-red-light: #a81412;
    --color-primary-white-smoke: rgb(245,245,245);
    --color-primary-white: rgb(248, 245, 245);
    --color-secondary-white: rgb(255, 255, 255);
    --color-primary-white-grey: #ccc;
    --color-secondary-white-grey: #eee;
    --color-primary-dark-grey: rgb(37, 34, 34);
    --color-primary-medium-gray: rgb(116, 112, 112);
    --color-primary-light-grey: rgb(94, 90, 90);
    --color-secondary-light-grey: rgb(136, 126, 126);
    --color-primary-grey-shadow: rgba(5, 5, 5, 0.4);
    --linear-gradient-slight-dark: linear-gradient(to right bottom,rgba(61, 59, 59, 0.8),rgba(41, 39, 39, 0.8));
    --linear-gradient-slight-red: linear-gradient(to right bottom, rgba(152, 24, 21, .8), rgba(168, 20, 18, .8));
}

/* UNIVERSAL SELECTOR */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: lato;
    margin: 3rem;
}

section{
    padding: 15rem 2rem;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
}


@media all and (max-width: 900px){
     html{
         font-size: 9px;
     }
}

@media all and (max-width: 700px){
    html{
        font-size: 6px;
    }
    body{
        margin: 0rem;
    }
}

/***** UNIVERSAL SELECTOR *****/

/***** Navigation bar **********/



.tabindex{
    outline: none;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav.sticky{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    z-index: 40;
    background-color:var(--color-primary-red-light);
}

.nav__logo-box{
    flex: 1;
    margin: 1rem;
}

.logo{
    font-size: 4rem;
    color: var(--color-primary-white);
}

.menu, .submenu{
    list-style: none;  
}

.menu{
    display: flex;
    align-items: center;
}


.menu .item{
    display: inline;
}

.menu .item a{
    color: var(--color-primary-white);
}

.button{
    color: var(--color-primary-white);
}
.nav__toggle{
    margin-left: .5rem;
    display: none;
}

.toggle{
    font-size: 4rem;
    color:var(--color-primary-white);
}

.has-submenu{
    position: relative;
}
.submenu{
    background-color: var(--color-primary-red-dark);
     display: none;
}

.subitem{
    padding: .5rem;
}
.has-submenu > a::after{
    font-family: 'Font Awesome 5 Free';
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 900;
    content: "\f078";
    color: var(--color-primary-white-grey);
    padding-left: 5px;
}

.submenu-active .submenu{
    display: block;
    position:absolute;
    top: 2.5rem;
    left: 0;
}





/*Tab navigation*/

@media all and (max-width: 900px){
    .nav{
        padding: 1.5rem;
     }
    .nav__menu{
        display: none;
        order: 2;
        background-color: var(--color-primary-red-dark);
    } 
    .menu{
        display: flex;
        flex-direction: column;
    }

    .item{
        width: 100%;
    }
    .item a{
        display: block;
    }
    .nav__toggle{
        display: block;
        order: 1;
        margin-right: 1rem;
        position: relative;
    }
    .toggle{
        font-size: 3rem;
    }

    .active.nav__menu{
        display: block;
        position: absolute;
        top: 6rem;
        right: .5rem;
    }

    .item .has-submenu{
        position: relative;
    }
    .submenu-active .submenu{
        display: block;
        position:absolute;
        top: 1rem;
        left: -11rem;
    }
    
}
/*Mobile Navigation*/

@media all and (max-width: 600px){
    .nav{
       padding: 1rem;
       background-color: var(--color-primary-red-dark);
    }
    .active.nav__menu{
        display: block;
        position: absolute;
        top: 8rem;
        right: .5rem;
    }

}
@media all and (min-width: 901px) {

}

/******* End of Navigation Bar *******/



/******** Header styling ************/
.header{
    height: 90vh;
    background-size: cover;
    background-image: var(--linear-gradient-slight-red),
                           url(../img/hero___1.jpg);
    background-attachment: fixed;
    position: relative;
   
}

.header__heading{
    padding: 2rem;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heading__primary{
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color-primary-white)
}

.btn-box{
    width:fit-content;
    margin: 0 auto;
    
}

.btn{
    display: block;
    width: fit-content;
    padding: 1.5rem 2.5rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn--round{
   border-radius: 12rem;
}

.btn--white{
    color: var(--color-primary-red-light);
}

.btn--white:link,
.btn--white:visited{
    color: var(--color-primary-red-light);
    background-color: var(--color-primary-white);
}

.btn--white:hover,
.btn--white:active{
    color: var(--color-primary-white);
    background-color: var(--color-primary-red-dark);
}

@media all and (max-width: 700px) {
    .header{
        height: 100vh;
        /* background-color: #a52a2a; */
        background-image: var(--linear-gradient-slight-red),
                               url(../img/header__3__1.jpg);
        background-position: top;
        background-attachment: fixed;
        position: relative;
       
    }
}

/******* End of header styling *******/

/******* SECTION ABOUT ********/

.section-about{
   background-color: var(--color-secondary-white-grey);
   padding-top: 6rem;
   margin-top: 0;
}
.u-center-text{
    width: fit-content;
    margin: 0 auto;
}

.u-margin-bottom-big{
    margin-bottom: 8rem;
}
.u-margin-bottom-medium{
    margin-bottom: 5rem;
}
.u-margin-bottom-small{
    margin-bottom: 2rem;
}
.heading-secondary{
   font-size: 3.5rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1px;
   display: inline-block;
   background-image: var(--linear-gradient-slight-red);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   text-align: center;

}

.heading-tertiary{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-primary-light-grey);
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.row p{
    text-align: justify;
    color: var(--color-secondary-light-grey);
    margin-bottom: 3rem;
}

/* .row p:not(last-child){
    margin-bottom: 2rem;
} */

.col-1-of-2{
    width: 40%;
}

.btn-text{
    display: inline-block;
    background-color: var(--color-primary-red-light);
    color: var(--color-primary-white);
    border-radius: 1rem;
}

.btn-text:hover,
.btn-text:active{
    border: .2rem solid var(--color-primary-red-light);
    background-color: var(--color-primary-white);
    color: var(--color-primary-red-dark);
    transition: all .9s;
}
.composition{
    padding: 1rem;
    position: relative;
}
.composition__photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem var(--color-primary-grey-shadow);
    border-radius: 2px;
    position: relative;
    outline-offset: 1.5rem;
    z-index: 10;
}

.composition__photo--p1{
    position: absolute;
    left: 0;
    top: -2rem;
}

.composition__photo--p2{
    position: absolute;
    right: 0;
    top: 2rem;
}

.composition__photo--p3{
    position: absolute;
    left: 20%;
    top: 8rem;
}

.composition__photo:hover{
    outline: 1.4rem solid var(--color-primary-red-light);
    z-index: 20;
    transform: scale(1.07);
    transition: all 0.3s;
}

.composition:hover .composition__photo:not(:hover){
    transform: scale(.95);
}

@media all and (max-width: 900px){

    .section-about{
        padding-bottom: 20rem;
    }
   .row{
       flex-direction: column;
       padding: 0 15rem;
   }

   .row p{
       font-size: 1.9rem;
   }
   .col-1-of-2{
       width: 100%;
       margin-bottom: 8rem;
   }
   .composition__photo{
    width: 35%;
    }

    .composition__photo--p1{
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .composition__photo--p2{
            position: absolute;
            right: 0;
            top: 0rem;
    }
    
    .composition__photo--p3{
            position: absolute;
            left: 33%;
            top: 1rem;
    }

   .btn-text{
       display: block;
       width: fit-content;
       margin: 0 auto;
   }
   .u-margin-bottom-big{
    margin-bottom: 5rem;
   }
   .u-margin-bottom-medium{
    margin-bottom: 4rem;
   }
  .u-margin-bottom-small{
    margin-bottom: 2rem;
  }
}

@media all and (max-width: 700px){
    .section-about{
        padding-bottom: 30rem;
    }
   .row{
       flex-direction: column;
       padding: 0 5rem;
   }

   .row p{
       font-size: 1.8rem;
   }
   .col-1-of-2{
       width: 100%;
       margin-bottom: 8rem;
   }
    
    .u-margin-bottom-big{
        margin-bottom: 4rem;
    }
    
    .u-margin-bottom-small{
        margin-bottom: 2rem;
    }

}
@media all and (max-width: 600){
    .section-about{
        padding-bottom: 25rem;
    }
} 
 @media all and (max-width: 500px){
    .section-about{
        padding-bottom: 20rem;
    }
}

@media all and (max-width: 300px){
    .section-about{
        padding-bottom: 20rem;
    }
} 

/* END OF ABOUT SECTION */

/************** SECTION FEATURE ***************/

.section-feature{
    /* background-image: linear-gradient(to right bottom,rgba(230, 21, 21, 0.8),rgba(var(--color-primary-red-light), .8)); */
    background-color:var(--color-primary-white-smoke);
    opacity: 1;
    margin-top: -5rem;
    padding: 5rem 0rem;
    padding-bottom: 10rem;
}

.heading-box{
    width: fit-content;
    padding: 2rem 1rem;
    /* background-color: white; */
    margin: 0 auto;
}

.container-card{
    background-color: var(--color-primary-red-dark);
    padding: 6rem;
    display: flex;
    justify-content: space-evenly;

}

.card{
    perspective: 158rem;
    -webkit-perspective: 158rem;
    padding: auto;
    position: relative;
    height: 15rem;
    width: 20rem;
}

.card__side{
    height: 15rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem var(--color-primary-grey-shadow);
    backface-visibility: hidden;
    overflow: hidden;
    transition: all .9s ease;
}

.card__side--front{
    background-color:var(--color-secondary-white);
    
}
.card__side--back{
    transform: rotateY(180deg);
    background-color:var(--color-secondary-white);
}


.card:hover .card__side--front{
    transform: rotateY(-180deg);
}
.card:hover .card__side--back{
    transform: rotateY(0);
}

.card__side--front-content{
    width: fit-content;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    /* background-color: chartreuse; */
}

.card__icon{
    display: block;
    margin: 0 auto;
    font-size: 6rem;
    width: fit-content;
    text-decoration: none;
    color: var(--color-primary-red-dark);
    
}
.card__side--back-content{
    padding: .5rem;
    width: 90%;
    background-color: var(--color-primary-red-light);
    margin: 1rem auto;
}

.paragraph{
    padding: 1rem;
    text-align: center;
    color: var(--color-secondary-white);
}

@media all and (max-width:1085px){
    .section-feature{
        padding-top: 4rem;
    }
    .container-card{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 4rem;
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;
    }
}

@media all and (max-width:325px){
    .container-card{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 4rem;
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;
    }
}

/************** END OF SECTION FEATURE ********/

/************* SECTION-PLANS ******************/
.section__plan{
    padding: 5rem 0;
    padding-bottom: 10rem;
    background-color:var(--color-secondary-white-grey);
}
.btn-box__plans{
    display: flex;
    justify-content:center;
    width: 100%;
    margin: 0 auto;
}

.btn--red{
    margin-left: 1.5rem;
}

.btn--red:link,
.btn--red:visited{
    color: var(--color-primary-white);
    background-color: var(--color-primary-red-dark);
}

.btn.btn--round.btn--red.btn--red--active{
    transform: translateY(-1rem);
}

.display__plan{
    display: none;
}
.display__plan.plan-active{
    display: block;
}
.plan{
    padding: 0rem;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    align-content: center;
    justify-content: center;
    /* background-color: var(--color-primary-red-light); */
    border-radius: 2%;
    box-shadow: 0 1.5rem 4rem var(--color-primary-grey-shadow);
}

.box{
    background-color:var(--color-secondary-white);
    width:40%;
    padding: 1rem;
    position: relative;
}

 /* .plan__image{
  
}  */

.plane__image--img{
    width: 100%;
}

/* .plan__details{
  padding: auto 0;
} */

.details{
    display: block;
    width: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item__details{
    color: var(--color-secondary-light-grey);
}
.item__details:not(last-child){
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-secondary-white-grey);
}
.item__details:not(:first-child){
    padding-top: 1rem;
}

.plan__cost{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.only-para{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 380;
    color: var(--color-primary-red-dark);
}
.price{
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 3rem;
    color: var(--color-primary-red-dark);
}

.btn--plane--price{
    background-color: var(--color-secondary-white);
    color: var(--color-primary-red-light);
    border: 1px solid var(--color-primary-red-light);
}

.btn--plane--price:hover,
.btn--plane--price:active{
    color: var(--color-secondary-white);
    background-color: var(--color-primary-red-light);
}

@media all and (max-width: 900px) {
    .btn-box__plans{
        display: flex;
        justify-content:center;
        width: 100%;
        margin: 0 auto;
    }
    
    .btn--red{
        margin-left: 1.5rem;
    }
    
    
    .plan{
        padding: 0rem;
        width: 95%;
        margin: 2rem auto;
        
    }
    
    .plane__image--img{
        width: 100%;
    }
    
    
    .details{
        display: block;
        width: 80%;
    }
    .item__details{
        text-align: center;
    }

    .item__details:not(last-child){
        padding-bottom: .7rem;
    }
    .item__details:not(:first-child){
        padding-top: .7rem;
    }
    
    .only-para{
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-weight: 380;
    }
    .price{
        font-size: 4rem;
        font-weight: 300;
        margin-bottom: 3rem;
    }
    
}

@media all and (max-width: 700px){
    

    .plan{
        margin: 2rem auto;
        margin-top: 3rem;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .box{
        background-color:var(--color-secondary-white);
        width:100%;
        height: 35rem;
        padding: 1rem;
        position: relative;
    }

    .box:not(:first-child){
        margin-top: -6rem;
    }
        
    .plane__image--img{
        width: 70%;
        display: block;
        margin: 0 auto;

    }
    .item__details{
        text-align: center;
        font-size: 2.5rem;
    }
    
}

@media all and (max-width: 600px){
    .btn--red{
        margin-left:.5rem;
    }

    .plan{
        margin: 2rem auto;
        margin-top: 3rem;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    
    .box{
        background-color:var(--color-secondary-white);
        width:100%;
        height: 35rem;
        padding: 1rem;
        position: relative;
    }
    .box:not(:first-child){
        margin-top: -4rem;
    }
        
    .plane__image--img{
        width: 40%;
        display: block;
        margin: 0 auto;
    
    }
    .item__details{
        text-align: center;
        font-size: 3rem;
    }
}
@media all and (max-width: 500px){
    .plane__image--img{
        width: 50%;
    }
    .item__details{
        text-align: center;
        font-size: 2rem;
    }
}
@media all and (max-width: 400px){
    .btn-box__plans{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .btn--red{
        margin-bottom: 2rem;
    }
    .plane__image--img{
        width: 70%;
    }
}

@media all and (max-width: 350px){
    .plane__image--img{
        margin-top: 3rem;
    }
}
/************* END OF SECTION-PLANS ***********/

/************* SECTION--FORM ******************/
.section-form{
    background-color:var(--color-primary-red-dark);
    padding: 7rem 5rem;
    position: relative;
}
.form-container{
    width: 100%;
    background-image:url(../img/apple-trees-large.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
   
}
.form{
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9));
    width: 50%;
    padding: 3rem;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__group{
    width: 90%;
}
.form__input{
    display: block;
    margin-bottom: 4rem;
    border: none;
    border-radius: 2px;
    padding: 1.5rem 2rem;
    width: 90%;
    font-size: 1.5rem;
    border-bottom: 3px solid transparent;
}

.form__input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem var(--color-primary-grey-shadow);
    border-bottom: 3px solid var(--color-primary-red-dark);
}
/* .form__input:focus:invalid{
    border-radius: 3px solid var();
} */
.form__group--radio{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    padding: 0 2rem;
}

.form__radio-group{
   color: var(--color-primary-medium-gray);
   font-size: 1.7rem;
   text-transform: capitalize;
  
}

.form__radio-label{
    width: 50%;
    cursor: pointer;
    position: relative;
    padding-left: 6rem
}

.form__radio-button{
    display: block;
    position: absolute;
    top: -.5rem;
    left: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 5px solid var(--color-primary-red-dark);
}

.form__radio-button::after{
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: var(--color-primary-red-dark);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.form__radio-input:checked ~.form__radio-label .form__radio-button::after{
    opacity: 1;
}
.form__radio-input{
    display: none;
}


.form__radio-input{
    margin: .7rem;
}
.form__radio-group:not(:last-child){
    margin-right: 7%;
}

.btn--red-1{
   background-color: var(--color-primary-red-dark);
   border: none;
   border: 1px solid var(--color-primary-white);
   color:var(--color-primary-white);
   display: block;
   margin: 0 auto;
}

.btn--red-1:hover,
.btn--red-1:active{
    background-color: var(--color-secondary-white-grey);
    color:var(--color-primary-red-dark);
    border: 1px solid var(--color-primary-red-dark);
}

@media all and (max-width: 1200px){
    .form-container{
        width: 100%;
    }
    .form{
        width: 100%;
        padding: 3rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form__group{
        width: 80%;
    }
    .form__group--radio{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .form__input{
        width: 100%;
    }
    .btn--red-1{
        margin-left: 0%;
        display: block;
        margin: 0 auto;
     }
}

@media all and (max-width: 450px) {
    .form__group--radio{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form__radio-group{
        margin-bottom: 3rem;
    }
    .form__radio-group:last-child{
        margin-left: -3.5rem
    }
}

/************* SECTION TESTIMONILA **************/
.seciton-slide{
    background-color: var(--color-primary-white-smoke);
    padding-top: 10rem;
    padding-bottom: 10rem;
}
/* .slider{
    position: relative;
}

.slide{
    width: 80%;
    display: block;
    margin: 0 auto;
    position: relative;
} */

.slider {
    max-width: 100rem;
    height: 40rem; 
    margin: 0 auto;
    position: relative;
  
    /* IN THE END */
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    /* height: 40rem; */
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* THIS creates the animation! */
    transition: transform 1s;
  }
.testimonial{
    /* background-color: red; */
    padding: 4rem;
    width: 80%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.testimonial__heading{
    font-size: 3rem;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 1.5rem;
}
.testimonial__heading::before {
    content: '\201C';
    position: absolute;
    top: -5.7rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 15rem;
    font-family: inherit;
    color: var(--color-primary-red-dark);
    z-index: 1;
    padding-right: 1rem;
    margin-right: 1rem;
  }
.testimonial__text{
    padding-bottom: 2rem;
    text-align: justify;
    font-size: 2rem;
    word-break: break-all;
    line-height: 1.5;
    color: var(--color-primary-medium-gray);
}

.testimonial__author{
    display: grid;
    /* grid-template-rows: 1fr; */
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
   
}

.testimonial__photo{
    width: 6.5rem;
    border-radius: 50%;
    background-size: cover;
    grid-row: 1 / span 2;
}
.testimonial__name{
    align-self: center;
}

.testimonial__location{
    font-size: 1.2rem;
    color: var(--color-primary-medium-gray);
}
.slider__btn {
    border: none;
    outline: none;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    z-index: 5;
    font-size: 3rem;
    text-align: center;
    background-color: var(--color-secondary-white);
    cursor: pointer;
}

.slider__btn--left{
    position:absolute;
    top: 40%;
    left: 6rem;
    transform: translate(-50%, -50%);
}

.slider__btn--right{
    position: absolute;
    top: 40%;
    right: 6rem;
    transform: translate(50%, -50%);
}
.dots{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
}
.dots__dot{
   display: block;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background-color:var(--color-primary-white-grey);
   margin: 1rem;
   z-index: 1;
   cursor: pointer;
}

/* .dots__dot:last-child {
    margin: 0;
  } */
  
  .dots__dot--active {
    background-color: #888;
    opacity: 1;
  }
@media all and (max-width: 900px) {
    .slider{
        height: 45rem;
    }
    
}
@media all and (max-width: 600px){
    .slider{
        height: 50rem;
    }
    .slider__btn--left{
        left: 3rem;
    }
    
    .slider__btn--right{
        right: 3rem;
    }

}

@media all and (max-width: 425px){
    .slider{
        height: 60rem;
    }
}

@media all and (max-width: 320px) {
    .slider{
        height: 70rem;
    }
}

@media all and (max-width: 275px) {
    .slider{
        height: 80rem;
    }
}

/******** FOOTER ********/
.footer{
    padding: 8rem 3rem;
    background-color: var(--color-primary-dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo-box{
   /* background-color: white; */
   margin-bottom: 3rem;
   margin-top: -4rem;
}

.logo-red{
    font-size: 8rem;
    color: var(--color-primary-red-dark);
}
.footer__nav{
   list-style-type: none;
   display: flex;
   margin-bottom: 4rem;
}
.footer__link{
   color: var(--color-primary-white-grey);
   opacity: .7;
}
.footer__link:hover,
.footer__link:active{
    opacity: 1;
}
.footer__copyright{
    font-size: 1.7rem;
    color:var(--color-primary-medium-gray);
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    padding: 1rem;
}

/********* END OF FOOTER *********/

 /******** MODEL WINDOW **********/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }
  
  .modal__header {
    font-size: 3rem;
    margin-bottom: 4.5rem;
    line-height: 1.5;
  }
  
  .modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
  }
  
  .modal__form label {
    font-size: 1.7rem;
    font-weight: 500;
  }
  
  .modal__form input {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
  }
  
  .modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
  }
  
  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
    height: 5rem;
    width: 5rem;
    background-color:var(--color-primary-white);
    border-radius: 50%;
    outline: none;
    z-index: 4;
  }

  .btn--close-modal:hover,
  .btn--close-modal:active{
    background-color:var(--color-secondary-white);
  }
  
  
  .btn__model{
     padding: 2rem;
     border: none;
  } 
  .btn__model--round{
      border-radius: 12rem;
  }

  .btn__model--prop{
      background-color: var(--color-secondary-white);
      box-shadow: var(--color-primary-grey-shadow);
  }
  .btn__model--prop:hover,
  .btn__model--prop:active{
      background-color: var(--color-primary-medium-gray);
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
  }

  @media all and (max-width: 400px) {
    .modal {
        padding: 2rem 2rem;
      }
  }
  /********* END OF MODEL WINDOW *******/


